<div class="container text-center">
  <div class="row">
    <div class="col column" *ngFor="let column of characters; index as j">
      <div
        class="character"
        *ngFor="let character of column; index as i"
        [class.character-selected]="selectedColumnindexes.includes(j)"
      >
        <button class="grid-button" (click)="columnSelected(column, j)">
          <h1 style="white-space: nowrap">{{ character.character }}</h1>
          <p style="white-space: nowrap">{{ character.romanization }}</p>
        </button>
      </div>
    </div>
  </div>
</div>
<br />
<div style="align-items: center; display: flex; justify-content: center">
  <button class="btn btn-primary btn-lg study-button" (click)="startQuiz()">
    Start
  </button>
</div>
