<div class="container text-center">
  <div
    *ngIf="showAlert"
    class="alert alert-danger alert-dismissible fade show"
    role="alert"
  >
    <strong style="font-size: 1.3em">Please select at least one column</strong>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
      (click)="closeSelectColumnAlert()"
    ></button>
  </div>
  <div class="row">
    <div class="col column" *ngFor="let column of characters; index as j">
      <div
        class="character"
        *ngFor="let character of column; index as i"
        [class.character-selected]="selectedColumnindexes.includes(j)"
      >
        <button class="grid-button" (click)="columnSelected(column, j)">
          <h1 style="white-space: nowrap">{{ character.character }}</h1>
          <p style="white-space: nowrap">{{ character.romanization }}</p>
        </button>
      </div>
    </div>
  </div>
</div>
<br />
<div class="buttons-div">
  <div class="form-check form-switch">
    <input
      class="form-check-input"
      type="checkbox"
      role="switch"
      id="flexSwitchCheckDefault"
      [(ngModel)]="randomiseEnabled"
    />
    <label class="form-check-label" for="flexSwitchCheckDefault"
      >Randomise order</label
    >
  </div>
</div>
<div class="buttons-div">
  <div class="form-check form-switch">
    <input
      class="form-check-input"
      type="checkbox"
      role="switch"
      id="flexSwitchCheckDefault"
      [(ngModel)]="muteEnabled"
    />
    <label class="form-check-label" for="flexSwitchCheckDefault">Mute</label>
  </div>
</div>
<div class="buttons-div">
  <button class="btn btn-primary btn-lg study-button" (click)="startQuiz()">
    Start
  </button>
</div>
