<div class="page-banner" style="min-height: 648px">
  <span
    aria-hidden="true"
    class="wp-block-cover__background has-black-background-color has-background-dim"
  ></span>
  <img src="../../assets/Images/kanji.jpg" alt="" class="page-banner-img" />

  <div class="wp-block-cover__inner-container">
    <div class="wp-block-themeisle-blocks-advanced-columns">
      <div class="innerblocks-wrap">
        <div class="wp-block-themeisle-blocks-advanced-column ticss-a6aa8646">
          <h1 class="page-banner-text">Study</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main-containter">
  <div class="quiz-container card">
    <br />
    <button
      (click)="startStudy()"
      type="submit"
      class="btn btn-primary btn-lg study-button"
    >
      Hiragana
    </button>
    <button
      (click)="startStudy()"
      type="submit"
      class="btn btn-primary btn-lg study-button"
    >
      Hiragana Dakuten
    </button>
    <br />
    <button
      (click)="startStudy()"
      type="submit"
      class="btn btn-primary btn-lg study-button"
    >
      Contracted Sounds
    </button>
    <button
      (click)="startStudy()"
      type="submit"
      class="btn btn-primary btn-lg study-button"
    >
      Double Consonants
    </button>
    <br />
    <button
      (click)="startStudy()"
      type="submit"
      class="btn btn-primary btn-lg study-button"
    >
      Katakana
    </button>
    <button
      (click)="startStudy()"
      type="submit"
      class="btn btn-primary btn-lg study-button"
    >
      Katakana Dakuten
    </button>
    <br />
  </div>
  <br />
  <div>
    <img src="../../assets/Images/image8.png" alt="" width="200px" />
  </div>
  <br />

  <h2>「勉強は嫌だ！」</h2>
</div>
<div></div>
