<div class="outer-containter">
  <div class="page-banner">
    <span
      aria-hidden="true"
      class="wp-block-cover__background has-black-background-color has-background-dim"
    ></span>
    <img src="../../assets/Images/kanji.jpg" alt="" class="page-banner-img" />

    <div class="wp-block-cover__inner-container">
      <div class="wp-block-themeisle-blocks-advanced-columns">
        <div class="innerblocks-wrap">
          <div class="wp-block-themeisle-blocks-advanced-column ticss-a6aa8646">
            <h1 class="page-banner-text">Study Area</h1>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="b-example-divider"></div>

  <div class="main-containter">
    <div class="study-page-description-div">
      <h2 style="text-align: center; font-weight: bold">
        Welcome to the Study Area
      </h2>
      <p style="text-align: center">
        Here you can revise the weak areas that you may have when it comes to
        the Japanese character system. Select the area you want to study below:
      </p>
    </div>
    <div class="quiz-container card">
      <div class="quiz-container-column">
        <button
          (click)="startStudy('Hiragana')"
          type="submit"
          class="btn btn-primary btn-lg study-button"
        >
          Hiragana
        </button>
        <button
          (click)="startStudy('Hiragana Dakuten')"
          type="submit"
          class="btn btn-primary btn-lg study-button"
        >
          Hiragana Dakuten
        </button>
      </div>

      <div class="quiz-container-column">
        <button
          (click)="startStudy('Contracted Sounds')"
          type="submit"
          class="btn btn-primary btn-lg study-button"
        >
          Contracted Sounds
        </button>
        <button
          (click)="startStudy('Double Consonants')"
          type="submit"
          class="btn btn-primary btn-lg study-button"
        >
          Double Consonants
        </button>
      </div>

      <div class="quiz-container-column">
        <button
          (click)="startStudy('Katakana')"
          type="submit"
          class="btn btn-primary btn-lg study-button"
        >
          Katakana
        </button>
        <button
          (click)="startStudy('Katakana Dakuten')"
          type="submit"
          class="btn btn-primary btn-lg study-button"
        >
          Katakana Dakuten
        </button>
      </div>
    </div>
    <br />
    <div>
      <img src="../../assets/Images/image8.png" alt="" width="200px" />
    </div>
    <br />

    <h2>「勉強は嫌だ！」</h2>
  </div>

  <div class="b-example-divider"></div>
</div>
